[client]
workdir=/home/dwb/cwinux/cwinux/trunk/cwinux/example/echo_protobuf/echo_client
listen=127.0.0.1
port=9300
unix=/home/dwb/cwinux/cwinux/trunk/cwinux/example/echo_protobuf/echo_svr/echo.unix
conn_num=50
conn_type=tcp
conn_lasting=1
data_size=1020
